h3{font-size: large;margin: 20px;padding: 5px;color: rgb(32, 110, 104);font-weight: 500;}
.display_div{margin-left: 50px;font-size: 20px;padding: 5px;color: brown;}
.card{border: medium;font-size: medium;}